body{
	font-family: 'Roboto', sans-serif;
}
.topNav{
    margin-bottom: 120px;
}
.brand-nav-yellow {
    color: #FAB63D;
    font-weight: 500;
	font-size: 16px;

}
.nav-link:hover{
	color:#D70454;
}

.brand-nav-yellow a {
    color: #FAB63D;
    text-decoration: none;

}

.mt-5{
    font-weight: 100;
}

.editable{
    cursor: text;
    line-height: 180%;
    background-color: white;
    color: red;
    margin-bottom: 10px;

}


