body{
	font-family: 'Roboto', sans-serif;
}
.nav-item{
	font-weight: 500;
	font-size: 16px;

}

.topNav{
    margin-bottom: 100px;
}

.brand-nav-yellow {
	color: #FAB63D;
}

.brand-nav-yellow a {
	color: #FAB63D;
	text-decoration: none;
}

.brand-yellow {
	color: #FAB63D;
	font-size: 14px;
	
}

.brand-burgandy {
	color: #D70454;
	font-size: 14px;
}

.brand-burgandy a {
	color: #D70454;
	text-decoration: underline;
}

.brand-white {
	color: #FFF;
}

.no-underline {
	text-decoration: none;	
}

.checkboxImg {
	width: 36px;
	height: 28px;
}

/* create a event styling */
.error{
	border: 2px solid red;
}
#dateTime{
	
	display:flex;
	flex-direction: column;
	gap: 10px;
}
.nav-link{
	color: FAB63D;
}

.nav-link:hover{
	color:#D70454;
}

#filterButtons{
	margin-top:100px;
	margin-bottom: 50px;
	font-weight: 300;
}

.col{

	font-weight: 100;
	font-size: smaller;

}


/* your-events css */
.YourEventsHeader{
	font-size:30px;
	font-weight: 500;
	margin-top: 50px;
   }
.line-seperator{
	height: 1px;
	background-color: #FFF;
	max-width: auto;
	margin-bottom: 30px;

}
   
.goingTo{
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
   
   }
.interestedIn{
	font-size: 24px;
	font-style: italic;
	font-weight: 100;
   }

/* create-an-events css */
.form-container{
	background-color: rgb(0, 0, 0,0.5);
	padding: 30px;
	max-width: 800px;
	border-radius: 20px;
	margin: auto ;
	margin-bottom: 100px;

}

.createHeader{
	font-weight: 100;
}

/* event page css */
#eventLocation{
	font-size: 18px;
	text-decoration: underline;
}

#eventDate{
	font-size: 18px;
}

#eventDescription{
	line-height: 180%;
	font-weight: 400;
}

h3{
	font-weight:100;
}


.form-label{
	font-weight: 100;
}

