.brand-nav-yellow {
	color: #FAB63D;
}

.brand-nav-yellow a {
	color: #FAB63D;
	text-decoration: underline;
}

.brand-yellow {
	color: #FAB63D;
}

.brand-burgandy {
	color: #D70454;
}

.brand-burgandy a {
	color: #D70454;
	text-decoration: underline;
}

.brand-white {
	color: #FFF;
}

.no-underline {
	text-decoration: none;	
}

.checkboxImg {
	width: 36px;
	height: 28px;
}

/* create a event styling */
.error{
	border: 2px solid red;
}
#dateTime{
	
	display:flex;
	flex-direction: column;
	gap: 10px;
}
.nav-link{
	color: FAB63D;
}

.nav-link:hover{
	color:#D70454;
}

.img-fluid {
	width:100%;
	height: 150px;
	margin-right: 50px;
}


/* your-events css */
